<section>
  <p></p>
  <h1>About</h1>
  <p>This project is based on <a href="http://www.railsbridge.org/">RailsBridge</a>'s <a href="http://docs.railsbridge.org/intro-to-rails/intro-to-rails">Intro To Rails</a> tutorial. Find out more at the RailsBridge community <a href="https://github.com/railsbridge/docs">GitHub</a>.</p>
  <%= link_to "<< Home", topics_path %>
</section>