body {
	width: 400px;
	margin: 0 auto;
	text-align: center;
	font-size: 12px;
}
h1 {
	padding: 10px 0px 10px 0px;
	margin: 0 0 0 0;
	font-size: 2em;
}

table {
	padding: 10px 0px 0px 0px;
	margin: 0 auto;
}

section {
	font-size: 1.7em;
}

form {
	padding: 10px 0px 10px 0px;
}
div.field {
	width: 100%;
}

suggestotron {
	width: 100%;
}
